@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(0.1492 0.014 263.23);
  --foreground:oklch(0.94 0.0071 268.55);
  --border:oklch(0.2534 0.0194 271.89);
  --card: oklch(0.164 0.0156 266.62);
  --subtle: oklch(0.6994 0.0198 269.01);
  --badge-success-background: oklch(0.2613 0.0358 174.14);
  --badge-success-foreground: oklch(0.8095 0.1306 175.67);
  --badge-success-border: oklch(0.3094 0.0485 169.31);
  --badge-error-background: oklch(0.2613 0.0358 0);
  --badge-error-foreground: oklch(0.8095 0.1306 0);
  --badge-error-border: oklch(0.3094 0.0485 0);
  --radius:
    0.625rem;
  --card-foreground:
    oklch(0.145 0 0);
  --popover:
    oklch(1 0 0);
  --popover-foreground:
    oklch(0.145 0 0);
  --primary:
    oklch(0.205 0 0);
  --primary-foreground:
    oklch(0.985 0 0);
  --secondary:
    oklch(0.97 0 0);
  --secondary-foreground:
    oklch(0.205 0 0);
  --muted:
    oklch(0.97 0 0);
  --muted-foreground:
    oklch(0.556 0 0);
  --accent:
    oklch(0.97 0 0);
  --accent-foreground:
    oklch(0.205 0 0);
  --destructive:
    oklch(0.577 0.245 27.325);
  --input:
    oklch(0.922 0 0);
  --ring:
    oklch(0.708 0 0);
  --chart-1:
    oklch(0.646 0.222 41.116);
  --chart-2:
    oklch(0.6 0.118 184.704);
  --chart-3:
    oklch(0.398 0.07 227.392);
  --chart-4:
    oklch(0.828 0.189 84.429);
  --chart-5:
    oklch(0.769 0.188 70.08);
  --sidebar:
    oklch(0.985 0 0);
  --sidebar-foreground:
    oklch(0.145 0 0);
  --sidebar-primary:
    oklch(0.205 0 0);
  --sidebar-primary-foreground:
    oklch(0.985 0 0);
  --sidebar-accent:
    oklch(0.97 0 0);
  --sidebar-accent-foreground:
    oklch(0.205 0 0);
  --sidebar-border:
    oklch(0.922 0 0);
  --sidebar-ring:
    oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-subtle: var(--subtle);
  --color-badge-success-background: var(--badge-success-background);
  --color-badge-success-foreground: var(--badge-success-foreground);
  --color-badge-success-border: var(--badge-success-border);
  --color-badge-error-background: var(--badge-error-background);
  --color-badge-error-foreground: var(--badge-error-foreground);
  --color-badge-error-border: var(--badge-error-border);

  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  #app {
    @apply h-screen;
  }
}
